<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


<!--    加载外部属性文件                -->
    <context:property-placeholder location="classpath:jdbc.properties"/>


<!--    配置数据库连接池                -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="${n.username}"></property>
        <property name="password" value="${n.password}"></property>
        <property name="url" value="${n.url}"></property>
        <property name="driverClassName" value="${n.driverClassName}"></property>
        <property name="initialSize" value="${n.initialSize}"></property>
        <property name="maxActive" value="${n.maxActive}"></property>
        <property name="maxWait" value="${n.maxWait}"></property>
    </bean>



<!--    配置 SqlSessionFactory       -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">

<!--        指定 Mapper 配置文件的路径-->
        <property name="mapperLocations" value="classpath:mappers/*.xml"></property>
        <property name="dataSource" ref="dataSource"></property>

    </bean>


<!--    配置 Mapper 接口的扫描-->
    <mybatis:scan base-package="com.syning.mybatis.mappers"/>



<!--    配置事务管理器         -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
<!--        装配数据源-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>

<!--    开启基于注解的声明式事务支持      -->
    <tx:annotation-driven transaction-manager="transactionManager"/>


<!--    配置对 Service 的自动扫描             -->
    <context:component-scan base-package="com.syning.service"/>






</beans>